* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#mainpage {
    text-align: center;
    align-items: center;
    font-size: 1rem;
}

.tr-title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background: rgba(109, 109, 109, 0.2);
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
}

.tr-title h2 {
    font-size: 40px;
    line-height: 0;
    font-weight: 400;
    color: #333;
    margin-bottom: 40px;
}

.tr-title p {
    color: rgb(41, 40, 40);
    line-height: 0.5px;
    margin-top: 0px;
    font-size: 1rem;
}

#image {
    max-width: 40%;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

#headline {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(109, 109, 109, 0.2);
}

#headline ul li {
    display: list-item;
    margin: 16px;
    text-align: left;
    max-width: 450px;
}

@media screen and (min-width: 600px) {
    html {
        flex-direction: row;
    }
}